<ion-view>
	<ion-content class="padding">
		<!-- <p>Page not found.</p> -->
		<div class="bar missing-bar">
			<div class="msg-404">Page not found</div>
		</div>
		<div class="list">

		  <label class="item item-input">
		    <input type="text" placeholder="First Name">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="Last Name">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="Email">
		  </label>
		  <label class="item item-input">
		    <textarea placeholder="Comments"></textarea>
		  </label>
		</div>
	</ion-content>
</ion-view>