<ion-view>
	<ion-content class="padding">
		<!-- <p>Page not found.</p> -->
		
		<div class="msg-404">Page not found</div>
		
		<p>The page cannot be found. Please leave your first name, last name, email, and comments. We will get back to you soon.</p>
		<div class="list">

		  <label class="item item-input">
		    <input type="text" placeholder="First Name">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="Last Name">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="Email">
		  </label>
		  <label class="item item-input">
		    <textarea placeholder="Comments"></textarea>
		  </label>
		  <button class="button button-block button-positive">
 			 Submit
			</button>
		</div>
	</ion-content>
</ion-view>