<ion-view view-title="Account">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="saveAccount()">
      Save
    </button>
  </ion-nav-buttons>

  <ion-content>

    <div class="item item-input item-stacked-label">
      <label class="input-label">First Name</label>
      <input type="text" placeholder="First" ng-model="account.firstName" maxlength="256" />
    </div>

    <div class="item item-input item-stacked-label">
      <label class="input-label">Last Name</label>
      <input type="text" placeholder="Last" ng-model="account.lastName" maxlength="256" />
    </div>
    
    <div class="item item-input item-stacked-label">
      <label class="input-label">Email</label>
      <input type="email" placeholder="Email" ng-model="account.email" maxlength="256" />
    </div>

    <div class="item item-input item-stacked-label">
      <label class="input-label">Phone</label>
      <input type="tel" placeholder="Phone" ng-model="account.phone" maxlength="256" />
    </div>

    <div class="padding">
      <button class="button button-block button-calm" ng-click="clearAccount()">Clear My Account</button>
    </div>

    <p class="padding">Please enter your info so that we may cater the cases specific to you. Promise we won't spam you! :)</p>

  </ion-content>
</ion-view>