<ion-view view-title="Categories">
    <ion-content class="padding">

    <ion-header-bar class="bar item-input-inset"> 
        <label class="item-input-wrapper search">
            <i class="icon ion-search placeholder-icon"></i>
            <input placeholder="Search..." ng-keyup="searchList($event)" type="text"> 
        </label>
    </ion-header-bar>
    <ion-list>
      <ion-item ng-repeat="item in filteredData" ng-click="selectItem(item)">
        {{item.service_name}}
      </ion-item>
    </ion-list>

    </ion-content>
</ion-view>
