<ion-view class="home" view-title="Relay311">
    <ion-content class="padding">
        <div class="circle-row">
            <div class="circle-container">
                <div ng-click="onClick('new')" class="circle">
                    <i class="icon ion-archive"></i>
                </div>
                <span class="btn-title">New Request</span>
            </div>
            <div class="circle-container">
                <div ng-click="onClick('recent')" class="circle">
                    <i class="icon ion-email-unread"></i>
                </div>
                <span class="btn-title">Recent</span>
            </div>
        </div>
        <div class="circle-row">
            <div class="circle-container">
                <div ng-click="onClick('mine')" class="circle">
                    <i class="icon ion-shuffle"></i>
                </div>
                <span class="btn-title">My Requests</span>
            </div>
            <div class="circle-container">
                <div ng-click="onClick('account')" class="circle">
                    <i class="icon ion-person"></i>
                </div>
                <span class="btn-title">Account</span>
            </div>
        </div>
    </ion-content>
</ion-view>