<ion-view view-title="Mine">
  <ion-content class="">

    <div class="list list-inset">
      <div class="item">
        <div class="row">
          <div class="col-25 frame-top">
            <a href="">
              <i class="icon ion-ios-camera-outline camera"></i>
            </a>
          </div>
          <div class="col-75">
            <a href="#" class="item item-icon-right">
              <h2>Category</h2>
              <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            
            <a href="" class="item item-icon-right">
              <p>Description</p>
              <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
          </div>
        </div>
        
      </div>
    </div>

    
  <div class="list card">
    
      <div class="item">
        <div class="row">
          <div class="col-25 frame">
            <a href="" class="item">
              <img src="../img/camera-icon.png" alt="">
            </a>
          </div>

          <div class="col-75">
            <a href="#" class="item item-icon-right">
              <h2>Category</h2>
              <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            
            <a href="" class="item item-icon-right">
              <p>Description</p>
              <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="item item-body">
        <p class="item">Location</p>
        <img src="../img/google-maps.png" alt="" class="full-image">
      </div>
    </div>

  </ion-content>
</ion-view>
