<ion-view view-title="New Request">
  <ion-content>
    
  <div class="list card">
    
      <div class="item">
        <div class="row">
          <div class="col-25 frame">
            <a ng-click="openPhotoView()" class="item">
              <img ng-src="{{caseImage}}" alt="">
            </a>
          </div>

          <div class="col-75">
            <div class="item item-icon-right" ng-click="goto('categories')">
              <h2>Category</h2>
              <i class="icon ion-chevron-right icon-accessory"></i>
            </div>
            
            <a href="" class="item item-icon-right">
              <p>Description</p>
              <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="item item-body">
        <p class="item">Location</p>
        <div id="map" data-tap-disabled="true"></div>
      </div>
    </div>

  </ion-content>
</ion-view>
