<ion-view view-title="New Request">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="submit()">
      Done
    </button>
  </ion-nav-buttons>

  <ion-content>

    <div class="list card">

      <div class="item">
        <div class="row">
          <div class="col-25 frame">
            <a ng-click="openPhotoView()" class="item">
              <img ng-src="{{case.image}}" alt="">
            </a>
          </div>

          <div class="col-75">
            <div class="item item-icon-right" ng-click="goto('categories')">
              <h2>Category</h2>
              <label>{{case.category}}</label>
              <i class="icon ion-chevron-right icon-accessory"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <label class="item item-input item-stacked-label">
          <label class="input-label">Title</label>
          <input type="text" placeholder="Title" ng-model="case.title"></input>
        </label>
      </div>

      <div class="item">
        <label class="item item-input item-stacked-label">
          <label class="input-label">Description</label>
          <textarea placeholder="Description" rows="3" ng-model="case.description"></textarea>
        </label>
      </div>

      <div class="item item-body">
        <div class="item">
          <div class="row">
            <div class="col col-75">
              <input class="addressInput" placeholder="Location" ng-model="addressEntered"></input>
            </div>
            <div class="col col-25">
              <button class="button button-stable button-outline" ng-click="getLocation()">
                <i class="icon ion-ios-location-outline icon-accessory"></i>
              </button>
            </div>
          </div>
        </div>
        <div id="map" data-tap-disabled="true"></div>
      </div>
    </div>

  </ion-content>
</ion-view>
