<ion-view view-title="Recent">
  <ion-content class="padding">
    <div class="center">
      <ion-spinner ng-hide=loadComplete icon="lines"></ion-spinner>
      <ion-label ng-hide=loadComplete class="center">Loading...</ion-label>
      <ion-label class="center" ng-show=loadNoRec>No Records...</ion-label>
      <ion-label class="center" ng-show=loadError>Load error...</ion-label>
    </div>
    <ion-list>
      <!-- image -->
      <ion-item ng-repeat="case in cases" class="item-thumbnail-right item-icon-right" type="item-text-wrap" href="#/tab/recent/{{case.service_request_id}}">
        <img ng-src="{{case.media_url}}" alt="{{case.service_name}}">

        <!-- title location description -->
        <div class="col-75">
          <h2>{{case.service_name}}</h2>
          <p>{{case.address}}</p>
          <p>{{case.description}}</p>
        
        
        <!-- status -->
        <div class="row">
          <div class="col-33">
          <button class="button button-small clear item-right" ng-class="case.status === 'open' ? 'button-balanced' : 'button-assertive'">{{case.status}}</button>
        </div>
        <div class="col-5">
          
        </div>
        <div class="col-75">
          <p>{{case.updated_datetime | date: 'medium'}}</p>
        </div>
        </div>
        

        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
