/* Empty. Add your own CSS if you like */
.home {
    background-color: #387ef5;
}

.circle-row {
    margin: 0 auto;
    width: 90%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.circle-container {
    display: inline-block;
    vertical-align: top;
}

.circle {
    background-color: white;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.circle > .icon {
    top: 22px;
    position: relative;
    font-size: 40px;
    color: #387ef5;
}

.btn-title {
    color: white;
    font-weight: bold;
}

i.camera::before {
    height: 100%;
    width: 100%;
}

.frame {
    margin-top: 10px;
}

.frame a {
    padding: 10px;
}

.frame img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    /*border-radius: 50%;*/
    overflow: hidden;
}

.big {
    font-size: 30px;
}

.center {
    text-align: center;
}

.photo-header .title {
    /* TODO @clarle - Will fix shortly */
    left: 0 !important;
    right: 0 !important;
}

.photo-view {
    opacity: 0.9;
    background-color: #387ef5;
}

.photo-view h2 {
    color: #ffffff;
}

#map {
    height: 300px;
    width: 100%;
}

.msg-404 {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
}






