/* Home */
.home {
  /*background-color: #5022c1;*/

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#15d399+0,5022c1+100 */
  background: #15d399; /* Old browsers */
  background: -moz-linear-gradient(-25deg, #15d399 0%, #5022c1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-25deg, #15d399 0%,#5022c1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(155deg, #15d399 0%,#5022c1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15d399', endColorstr='#5022c1',GradientType=1 );   /* IE6-9 fallback on horizontal gradient */
}

.home-content {
  width: 80%;
  text-align: center;
  margin: auto;
}

.home-content .row {
  margin-top: 30px;
}

.menu-button {
  width: 100%;
}

.menu-title {
  color: white;
  font-weight: bold;
}

/* New Request */
i.camera::before {
  height: 100%;
  width: 100%;
}

.frame {
  margin-top: 10px;
}

.frame a {
  padding: 10px;
}

.frame img {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  /*border-radius: 50%;*/
  overflow: hidden;
}

.big {
  font-size: 30px;
}

.center {
  text-align: center;
}

.photo-header .title {
  /* TODO @clarle - Will fix shortly */
  left: 0 !important;
  right: 0 !important;
}

.photo-view {
  opacity: 0.9;
  background-color: #387ef5;
}

.photo-view h2 {
  color: #ffffff;
}

#map {
  height: 300px;
  width: 100%;
}

.msg-404 {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
}

.new-request-form .text {
  padding-top: 5px;
  font-size: 14px;
}




